{% extends 'base.html.twig' %}

{% block stylesheets %}
<!-- Bootstrap Core CSS -->
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{ asset('css/heroic-features.css') }}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Listado de Productos</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        {% for product in products %}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>{{ product.nombre }}</h3>
                    <p>€{{ product.precio }}</p>
                    <p>
                        <a href="#" class="btn btn-primary">Add Cart!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Carrito Compra 2018</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
{% endblock %}

{% block scripts %}
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Script -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}